<form
  [formGroup]="registrationForm"
  (ngSubmit)="submitForm()"
  class="d-flex justify-content-center"
>
  <div class="col-sm-10">
    <div class="form-group row py-1 mx-auto p-3 mt-3">
      <!-- <label for="title" class="col-sm-2 col-form-label form-title"
        >Title</label
      > -->
      <div class="col-sm-10 vstack gap-3">
        <h1>Register</h1>

        <div class="input-group vstack">
          <input
            type="text"
            class="form-control w-100"
            placeholder="username"
            aria-label="username"
            aria-describedby="basic-addon2"
            formControlName="username"
            name="username"
          />
          <small id="usernameHelp" class="form-text text-muted"
            >allowed characters:
            <span class="badge bg-light text-dark mx-1">a-z</span>,
            <span class="badge bg-light text-dark mx-1">A-Z</span> and
            <span class="badge bg-light text-dark mx-1">_</span>. The minimum
            username length allowed is 5 characters and it should start with a
            letter.</small
          >
        </div>
        <div class="input-group">
          <input
            type="email"
            class="form-control"
            placeholder="email"
            aria-label="email"
            aria-describedby="basic-addon2"
            formControlName="email"
            name="email"
          />
        </div>
        <div class="vstack">
          <div class="input-group">
            <input
              [type]="isShowPasswordEnabled ? 'text' : 'password'"
              class="form-control"
              placeholder="password"
              aria-label="password"
              aria-describedby="basic-addon2"
              formControlName="password"
              name="password"
            />
            <div
              class="input-group-append"
              (click)="toggleIsShowPasswordEnabled()"
            >
              <span class="input-group-text">
                <i
                  [class]="
                    isShowPasswordEnabled ? 'bi bi-eye-slash' : 'bi bi-eye'
                  "
                ></i>
              </span>
            </div>
          </div>
          <small id="passwordHelp" class="form-text text-muted"
            >allowed characters groups:
            <span class="badge bg-light text-dark mx-1">a-z</span>,
            <span class="badge bg-light text-dark mx-1">A-Z</span>,
            <span class="badge bg-light text-dark mx-1">0-9</span> and
            <span class="badge bg-light text-dark mx-1">!</span
            ><span class="badge bg-light text-dark mx-1">#</span
            ><span class="badge bg-light text-dark mx-1">$</span
            ><span class="badge bg-light text-dark mx-1">%</span
            ><span class="badge bg-light text-dark mx-1">^</span
            ><span class="badge bg-light text-dark mx-1">&</span
            ><span class="badge bg-light text-dark mx-1">*</span>
            <span class="badge bg-light text-dark mx-1">_</span>
            <span class="badge bg-light text-dark mx-1">:</span>
            <span class="badge bg-light text-dark mx-1">;</span>
            <span class="badge bg-light text-dark mx-1">,</span>
            <span class="badge bg-light text-dark mx-1">.</span>. It shall
            contain at least 1 character of each group. The minimum password
            length allowed if 5 characters.</small
          >
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </div>
  </div>
</form>
