<form
  [formGroup]="loginForm"
  (ngSubmit)="submitForm()"
  class="d-flex justify-content-center"
>
  <div class="col-sm-10">
    <div class="form-group row py-1 mx-auto p-3 mt-3">
      <!-- <label for="title" class="col-sm-2 col-form-label form-title"
        >Title</label
      > -->
      <div class="col-sm-10 vstack gap-3">
        <h1>Login</h1>

        <div class="input-group vstack">
          <input
            type="text"
            class="form-control w-100"
            placeholder="username"
            aria-label="username"
            aria-describedby="basic-addon2"
            formControlName="username"
            name="username"
          />
          <small id="usernameHelp" class="form-text text-muted"
            >allowed characters: a-z, A-Z and _.</small
          >
        </div>
        <div class="vstack">
          <div class="input-group">
            <input
              [type]="isShowPasswordEnabled ? 'text' : 'password'"
              class="form-control"
              placeholder="password"
              aria-label="password"
              aria-describedby="basic-addon2"
              formControlName="password"
              name="password"
            />
            <div
              class="input-group-append"
              (click)="toggleIsShowPasswordEnabled()"
            >
              <span class="input-group-text">
                <i
                  [class]="
                    isShowPasswordEnabled ? 'bi bi-eye-slash' : 'bi bi-eye'
                  "
                ></i>
              </span>
            </div>
          </div>
          <small id="emailHelp" class="form-text text-muted"
            >allowed characters: a-z, A-Z, numbers and $!%*?&"\'.,:;</small
          >
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </div>
  </div>
</form>
