<div class="container mt-2 mb-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Extensions</h1>
      <hr />
      <div class="input-group vstack p-3">
        <input
          type="text"
          class="form-control w-100"
          placeholder="filter"
          aria-label="filter"
          aria-describedby="basic-addon2"
          [(ngModel)]="filter"
          (ngModelChange)="filterItems()"
        />
        <small id="usernameHelp" class="form-text text-muted"
          >filters page data</small
        >
      </div>
      <span
        class="d-inline-block text-light p-2 m-1 cursor-pointer"
        *ngFor="let extension of extensions"
      >
        <!-- <span>{{ extension.extension }} ({{ extension.occurrence }})</span> -->
        <app-entity-button
          [goToParentLink]="exploreExtension"
          [item]="extension"
          [that]="this"
        />
      </span>
      <span
        class="text-secondary"
        *ngIf="!extensions || extensions.length === 0"
        >no data</span
      >
    </div>
  </div>
</div>
