<nav class="site-header sticky-top py-1">
  <div
    class="container d-flex flex-column flex-md-row justify-content-start gap-3"
  >
    <a class="hstack gap-1 py-2" routerLink="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="d-block mx-auto"
      >
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
        <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
        <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
        <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
        <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
        <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
      </svg>
      Europea Library
    </a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/home']">Home</a>

    <div class="dropdown">
      <button
        class="btn btn-link dropdown-toggle menu-item"
        type="button"
        id="dropdownExplore"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Explore
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownExplore">
        <button
          class="dropdown-item"
          [routerLink]="['/explorer']"
          type="button"
        >
          by Directory
        </button>
        <button
          class="dropdown-item"
          [routerLink]="['/categories']"
          type="button"
        >
          by Category
        </button>
        <button class="dropdown-item" [routerLink]="['/tags']" type="button">
          by Tags
        </button>
        <button
          class="dropdown-item"
          [routerLink]="['/extension']"
          type="button"
        >
          by File Extension
        </button>
      </div>
    </div>

    <button
      *ngIf="!isLoggedIn()"
      class="btn btn-link menu-item"
      [routerLink]="['/login']"
      type="button"
    >
      Login
    </button>
    <button
      *ngIf="!isLoggedIn()"
      class="btn btn-link menu-item"
      [routerLink]="['/register']"
      type="button"
    >
      Register
    </button>
    <button
      *ngIf="isLoggedIn()"
      class="btn btn-link menu-item"
      (click)="logout()"
      type="button"
    >
      Logout ({{ username }}, {{ role | lowercase }})
    </button>
  </div>
  <div>
    <app-search-form />
  </div>
</nav>
