<div class="my-1 mx-1">
  <div class="card">
    <div class="card-body">
      <span>{{ title }}</span>
    </div>
  </div>
</div>

<div class="container mt-1 mb-5" *ngIf="cursoredItem">
  <div class="card">
    <div class="card-body">
      <div
        *ngIf="
          !cursoredItem!.childrenList || cursoredItem!.childrenList.length === 0
        "
      >
        no data
      </div>
      <ul
        class="mx-3"
        *ngIf="
          cursoredItem!.childrenList && cursoredItem!.childrenList.length > 0
        "
      >
        <li
          *ngFor="let pair of cursoredItem?.childrenList"
          class="cursor-pointer"
        >
          <a (click)="goToFile(pair.val1)" [class]="'file'">
            <i class="bi px-1" [class]="'bi-file-earmark'"></i>[{{ pair.val2 }}]
            {{ pair.val1.name }}
          </a>
        </li>
      </ul>
      <div class="d-flex justify-content-center">
        <button
          *ngIf="cursoredItem?.nextCursor"
          class="btn btn-primary"
          (click)="loadMore()"
        >
          More
        </button>
      </div>
    </div>
  </div>
</div>
