<form [formGroup]="searchForm" (ngSubmit)="submitForm()">
  <div>
    <div class="form-group row py-1 mx-auto">
      <div class="">
        <div class="input-group">
          <!-- <div class="input-group-prepend">
            <button type="reset" class="btn btn-secondary rounded-0">
              <i class="bi bi-x-lg"></i>
            </button>
          </div> -->
          <input
            type="text"
            class="form-control"
            placeholder="Book title"
            aria-label="Book title"
            aria-describedby="basic-addon2"
            formControlName="title"
            name="title"
          />
          <div class="btn-group">
            <button class="btn btn-outline-secondary btn-sm" type="submit">
              Search
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              (click)="toggleAdvanceSearch()"
            >
              <span class="sr-only"></span>
            </button>
          </div>
        </div>
      </div>
      <div
        *ngIf="
          searchForm?.get('name')?.invalid && searchForm?.get('name')?.touched
        "
        class="text-danger"
      >
        Title is required
      </div>
    </div>

    <div [ngClass]="isAdvanceSearchEnable ? 'resize-max' : 'resize-min'">
      <div class="form-group row py-1 mx-auto">
        <!-- <label for="title" class="col-sm-2 col-form-label form-title"
          >Author</label
        > -->
        <div class="col-sm-10 input-group input-group-sm">
          <input
            type="text"
            class="form-control"
            placeholder="Book author"
            id="author"
            formControlName="author"
          />
          <div
            *ngIf="
              searchForm?.get('author')?.invalid &&
              searchForm?.get('author')?.touched
            "
            class="text-danger"
          >
            Error
          </div>
          <button class="btn btn-link" type="button" (click)="resetAuthor()">
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
      </div>

      <div class="form-group row py-1 mx-auto">
        <!-- <label for="publisher" class="col-sm-2 col-form-label form-title"
          >Publisher</label
        > -->
        <div class="col-sm-10 input-group input-group-sm">
          <input
            type="text"
            placeholder="Book publisher"
            class="form-control"
            id="publisher"
            formControlName="publisher"
          />
          <div
            *ngIf="
              searchForm?.get('publisher')?.invalid &&
              searchForm?.get('publisher')?.touched
            "
            class="text-danger"
          >
            Error
          </div>
          <button class="btn btn-link" type="button" (click)="resetPublisher()">
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
      </div>

      <div class="form-group row py-1 mx-auto">
        <!-- <label for="description" class="col-sm-2 col-form-label form-title"
          >Description</label
        > -->
        <div class="col-sm-10 input-group input-group-sm">
          <input
            type="text"
            placeholder="Book description"
            class="form-control"
            id="description"
            formControlName="description"
          />
          <div
            *ngIf="
              searchForm?.get('description')?.invalid &&
              searchForm?.get('description')?.touched
            "
            class="text-danger"
          >
            Error
          </div>
          <button
            class="btn btn-link"
            type="button"
            (click)="resetDescription()"
          >
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
      </div>

      <div class="form-group row py-1 mx-auto">
        <!-- <label for="year" class="col-sm-2 col-form-label form-title"
          >Year</label
        > -->
        <div class="col-sm-10 input-group input-group-sm">
          <input
            type="text"
            placeholder="Book year"
            class="form-control"
            id="year"
            formControlName="year"
          />
          <div
            *ngIf="
              searchForm?.get('year')?.invalid &&
              searchForm?.get('year')?.touched
            "
            class="text-danger"
          >
            Error
          </div>
          <button class="btn btn-link" type="button" (click)="resetYear()">
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
      </div>
      <div class="form-group row py-1 mx-auto">
        <!-- <label for="isbn" class="col-sm-2 col-form-label form-title"
          >ISBN</label
        > -->
        <div class="col-sm-10 input-group input-group-sm">
          <input
            type="text"
            class="form-control"
            placeholder="Book ISBN"
            id="isbn"
            formControlName="isbn"
          />
          <div
            *ngIf="
              searchForm?.get('isbn')?.invalid &&
              searchForm?.get('isbn')?.touched
            "
            class="text-danger"
          >
            Error
          </div>
          <button class="btn btn-link" type="button" (click)="resetIsbn()">
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
