.form-title {
    color:white;
}
.red {
    border: 1px solid red;
}

.transitioned {
    transition: "all .2s",
}

.resize-max {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.resize-min{
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}