<div class="container mt-2 mb-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Categories</h1>

      <span
        class="badge bg-primary text-light p-2 m-1 cursor-pointer"
        *ngFor="let category of categories.items"
        (click)="goToCategory(category)"
      >
        <span>{{ category.name }}</span>
      </span>

      <button
        *ngIf="categories.nextCursor"
        (click)="loadMore(this)"
        class="btn btn-primary"
      >
        More
      </button>
      <span
        class="text-secondary"
        *ngIf="!categories.items || categories.items.length === 0"
        >no data</span
      >
    </div>
  </div>
</div>
