<h1>Pick of the day - try something different...</h1>
<div
  *ngIf="fileSystemItemHighlight"
  class="card cursor-pointer"
  (click)="goToItem()"
>
  <div class="row">
    <div class="col-md-4 text-center text-md-left">
      <img
        class="card-img-top object-fit-scale"
        style="max-height: 250px"
        onerror="this.src='/assets/images/no-cover.jpg';"
        [src]="calculateImageUrl()"
        alt="Card image cap"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title text-center">
          {{ fileSystemItemHighlight.title }}
        </h3>
        <p class="card-text">
          {{ fileSystemItemHighlight.description }}
        </p>
        <p class="card-text">
          <small class="text-muted">
            <app-rating
              *ngIf="fileSystemItemHighlight.averageRating"
              [averageRating]="fileSystemItemHighlight.averageRating || 0"
              [ratingsCount]="fileSystemItemHighlight.ratingsCount || 0"
            />
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
