<div class="my-1 mx-1" *ngIf="cursoredExtension?.extension">
  <div class="card">
    <div class="card-body">
      <a routerLink="/extension">Extension</a> »
      {{ cursoredExtension?.extension }}
    </div>
  </div>
</div>

<div class="container mt-1 mb-5">
  <div class="card">
    <div class="card-body">
      <ul>
        <li
          *ngFor="let fsi of cursoredExtension?.childrenList"
          class="cursor-pointer"
        >
          <a class="link" (click)="goToFile(fsi)"> {{ fsi.name }}</a>
        </li>
      </ul>
      <div
        class="d-flex justify-content-center"
        *ngIf="cursoredExtension?.nextCursor"
      >
        <button (click)="more()" class="btn btn-primary">More</button>
      </div>
    </div>
  </div>
</div>
