<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="submitForm($event)"
        class="d-flex justify-content-center"
      >
        <div>
          <div class="form-group row py-1 mx-auto p-3 mt-3">
            <div class="col-sm-10 vstack gap-3">
              <h1 class="card-title p-0 m-0">Change password</h1>
              <hr />
              <h2 class="card-subtitle mb-2 text-muted">
                Insert the old password, the new password and repeat the new
                password
              </h2>
              <div class="input-group mb-2">
                <input
                  [type]="isShowOldPasswordEnabled ? 'text' : 'password'"
                  class="form-control"
                  placeholder="old password"
                  aria-label="oldPassword"
                  aria-describedby="basic-addon2"
                  formControlName="oldPassword"
                  name="oldPassword"
                  [required]="true"
                />
                <div
                  class="input-group-append"
                  (click)="toggleIsShowOldPasswordEnabled()"
                >
                  <span class="input-group-text">
                    <i
                      [class]="
                        isShowOldPasswordEnabled
                          ? 'bi bi-eye-slash'
                          : 'bi bi-eye'
                      "
                    ></i>
                  </span>
                </div>
              </div>
              <hr />
              <div class="input-group my-2">
                <input
                  [type]="isShowPasswordEnabled ? 'text' : 'password'"
                  class="form-control"
                  placeholder="password"
                  aria-label="password"
                  aria-describedby="basic-addon2"
                  formControlName="password"
                  name="password"
                  [required]="true"
                />
                <div
                  class="input-group-append"
                  (click)="toggleIsShowPasswordEnabled()"
                >
                  <span class="input-group-text">
                    <i
                      [class]="
                        isShowPasswordEnabled ? 'bi bi-eye-slash' : 'bi bi-eye'
                      "
                    ></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="vstack">
              <div class="input-group my-2">
                <input
                  [type]="isShowRepeatPasswordEnabled ? 'text' : 'password'"
                  class="form-control"
                  placeholder="repeat password"
                  aria-label="repeatPassword"
                  aria-describedby="basic-addon2"
                  formControlName="repeatPassword"
                  name="repeatPassword"
                  [required]="true"
                />
                <div
                  class="input-group-append"
                  (click)="toggleIsShowRepeatPasswordEnabled()"
                >
                  <span class="input-group-text">
                    <i
                      [class]="
                        isShowRepeatPasswordEnabled
                          ? 'bi bi-eye-slash'
                          : 'bi bi-eye'
                      "
                    ></i>
                  </span>
                </div>
              </div>
              <small id="passwordHelp" class="form-text text-muted"
                >allowed characters groups:
                <span class="badge bg-light text-dark mx-1">a-z</span>,
                <span class="badge bg-light text-dark mx-1">A-Z</span>,
                <span class="badge bg-light text-dark mx-1">0-9</span> and
                <span class="badge bg-light text-dark mx-1">!</span
                ><span class="badge bg-light text-dark mx-1">#</span
                ><span class="badge bg-light text-dark mx-1">$</span
                ><span class="badge bg-light text-dark mx-1">%</span
                ><span class="badge bg-light text-dark mx-1">^</span
                ><span class="badge bg-light text-dark mx-1">&</span
                ><span class="badge bg-light text-dark mx-1">*</span>
                <span class="badge bg-light text-dark mx-1">_</span>
                <span class="badge bg-light text-dark mx-1">:</span>
                <span class="badge bg-light text-dark mx-1">;</span>
                <span class="badge bg-light text-dark mx-1">,</span>
                <span class="badge bg-light text-dark mx-1">.</span>. It shall
                contain at least 1 character of each group. The minimum password
                length allowed if 5 characters.</small
              >
            </div>
            <button class="btn btn-primary mt-4" type="submit">
              Change password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
