<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <form
        [formGroup]="registrationForm"
        class="d-flex justify-content-center"
      >
        <div>
          <div class="form-group row py-1 mx-auto p-3 mt-3">
            <!-- <label for="title" class="col-sm-2 col-form-label form-title"
        >Title</label
      > -->
            <div class="col-sm-10 vstack gap-3">
              <h1 class="card-title p-0 m-0">Registration</h1>
              <h2 class="card-subtitle mb-2 text-muted">
                Insert username, e-mail and password in order to register to the
                system
              </h2>

              <div class="input-group vstack">
                <input
                  type="text"
                  class="form-control w-100"
                  placeholder="username"
                  aria-label="username"
                  aria-describedby="basic-addon2"
                  formControlName="username"
                  name="username"
                  [required]="true"
                />
                <small id="usernameHelp" class="form-text text-muted"
                  >allowed characters:
                  <span class="badge bg-light text-dark mx-1">a-z</span>,
                  <span class="badge bg-light text-dark mx-1">A-Z</span> and
                  <span class="badge bg-light text-dark mx-1">_</span>. The
                  minimum username length allowed is 5 characters and it should
                  start with a letter.</small
                >
              </div>
              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="email"
                  aria-label="email"
                  aria-describedby="basic-addon2"
                  formControlName="email"
                  name="email"
                  [required]="true"
                />
              </div>
              <div class="vstack">
                <div class="input-group">
                  <input
                    [type]="isShowPasswordEnabled ? 'text' : 'password'"
                    class="form-control"
                    placeholder="password"
                    aria-label="password"
                    aria-describedby="basic-addon2"
                    formControlName="password"
                    name="password"
                    [required]="true"
                  />
                  <div
                    class="input-group-append"
                    (click)="toggleIsShowPasswordEnabled()"
                  >
                    <span class="input-group-text">
                      <i
                        [class]="
                          isShowPasswordEnabled
                            ? 'bi bi-eye-slash'
                            : 'bi bi-eye'
                        "
                      ></i>
                    </span>
                  </div>
                </div>
                <small id="passwordHelp" class="form-text text-muted"
                  >allowed characters groups:
                  <span class="badge bg-light text-dark mx-1">a-z</span>,
                  <span class="badge bg-light text-dark mx-1">A-Z</span>,
                  <span class="badge bg-light text-dark mx-1">0-9</span> and
                  <span class="badge bg-light text-dark mx-1">!</span
                  ><span class="badge bg-light text-dark mx-1">#</span
                  ><span class="badge bg-light text-dark mx-1">$</span
                  ><span class="badge bg-light text-dark mx-1">%</span
                  ><span class="badge bg-light text-dark mx-1">^</span
                  ><span class="badge bg-light text-dark mx-1">&</span
                  ><span class="badge bg-light text-dark mx-1">*</span>
                  <span class="badge bg-light text-dark mx-1">_</span>
                  <span class="badge bg-light text-dark mx-1">:</span>
                  <span class="badge bg-light text-dark mx-1">;</span>
                  <span class="badge bg-light text-dark mx-1">,</span>
                  <span class="badge bg-light text-dark mx-1">.</span>. It shall
                  contain at least 1 character of each group. The minimum
                  password length allowed if 5 characters.</small
                >
              </div>
              <div class="text-secondary">
                This site is protected by reCAPTCHA. For more info read Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a>
                and
                <a href="https://policies.google.com/terms">Terms of Service</a
                >.
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-check">
                    <input
                      formControlName="consensus1Flag"
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="consensus1Flag"
                    />
                    <label class="form-check-label" for="consensus1Flag">
                      <div>Essential (required)</div>
                      <small class="form-text text-muted"
                        >These cookies are essential to enable users to move
                        around our website and provide access to features such
                        as profile and shopping, login credentials and other
                        areas of the website. These cookies are necessary to
                        enable the functionality of basis of this site, such as
                        providing secure access, allowing images to be loaded or
                        allowing the user to select cookie preferences. This
                        category of cookies cannot be disabled.</small
                      >
                    </label>
                  </div>

                  <div class="form-check">
                    <input
                      formControlName="consensus2Flag"
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="consensus2Flag"
                    />
                    <label class="form-check-label" for="consensus2Flag">
                      <div>Statistics (required)</div>
                      <small class="form-text text-muted"
                        >Statistical cookies help us understand how visitors
                        interact with our website by collecting and reporting
                        information. Any information collected through this type
                        of cookie is used to measure activity on any website,
                        application or platform, with the aim of introducing
                        improvements based on the analysis of data relating to
                        the use of the service by users. This category of
                        cookies cannot be disabled.</small
                      >
                    </label>
                  </div>

                  <div class="form-check">
                    <input
                      formControlName="consensus3Flag"
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="consensus3Flag"
                    />
                    <label class="form-check-label" for="consensus3Flag">
                      <div>Marketing</div>
                      <small class="form-text text-muted"
                        >Marketing cookies are used to understand user behavior
                        on our websites. These cookies are also used to show
                        adverts more relevant to your interests. We may share
                        this information with advertising platforms to help us
                        display messages that are more relevant to you. These
                        cookies can also store information on user behavior
                        obtained through their browsing habits, which allows us
                        to develop a specific profile and display advertisements
                        appropriate to your profile.</small
                      >
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <app-lockable-button
                  [callback]="submitForm.bind(this)"
                  [label]="'Register'"
                  [classCustom]="'btn btn-primary w-100'"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
