<div class="form-check">
  <input
    (click)="
      update('protectedDownloadsEnabled', protectedDownloadsEnabled.checked)
    "
    [checked]="settings?.protectedDownloadsEnabled"
    class="form-check-input"
    type="checkbox"
    value=""
    id="protectedDownloadsEnabled"
    #protectedDownloadsEnabled
  />
  <label class="form-check-label" for="protectedDownloadsEnabled">
    <div>Enable Protected downloads</div>
    <small class="form-text text-muted"
      >Protect downloads by forcing unauthenticated users to
      login/register</small
    >
  </label>
</div>
