<div class="my-1 mx-1" *ngIf="cursoredItem?.parent">
  <div class="card">
    <div class="card-body">
      <a routerLink="/customer/purchases">Your Purchases</a>
    </div>
  </div>
</div>

<div class="container mt-1 mb-5">
  <div class="card">
    <div class="card-body">
      <h1>Purchases</h1>
      <div class="row" *ngIf="cursoredItem?.childrenList?.length === 0">
        <h4>No purchases</h4>
      </div>
      <div
        class="row"
        *ngIf="
          cursoredItem &&
          cursoredItem.childrenList &&
          cursoredItem.childrenList.length > 0
        "
      >
        <div
          *ngFor="let item of cursoredItem?.childrenList"
          class="col-12 col-sm-6 col-lg-4 mb-4"
        >
          <app-book-card
            [product]="item.stripeProduct"
            [price]="item.stripePrice"
            [fileMetaInfo]="item.fileMetaInfo"
          />
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button
          *ngIf="cursoredItem?.nextCursor"
          class="btn btn-primary"
          (click)="loadMore()"
        >
          More
        </button>
      </div>
    </div>
  </div>
</div>
