<div
  class=""
  *ngIf="
    genericCursoredResponse &&
    genericCursoredResponse!.childrenList &&
    genericCursoredResponse!.childrenList.length > 0
  "
>
  <h2>Popular {{ extension }} e-Books</h2>
  <div class="row">
    <div
      class="my-2 col-md-12"
      *ngFor="let item of genericCursoredResponse!.childrenList"
    >
      <div
        class="card cursor-pointer"
        style="min-height: 250px"
        (click)="goToItem(item.id)"
      >
        <div class="row">
          <div class="col-md-4 text-center text-md-left px-3 py-2">
            <img
              class="card-img-top object-fit-scale border rounded"
              style="max-height: 250px"
              onerror="this.src='/assets/images/no-cover.jpg';"
              [src]="calculateCoverUrl(item)"
              alt="Card image cap"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title text-center">{{ item.title }}</h3>
              <p class="card-text">
                {{ item.description }}
              </p>
              <p class="card-text">
                <small class="text-muted">
                  <app-rating
                    [averageRating]="item.averageRating || 0"
                    [ratingsCount]="item.ratingsCount || 0"
                  />
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
