<app-breadcrumb
  *ngIf="fileSystemItem"
  [fileSystemItem]="fileSystemItem"
  (navigate)="goToExplorer($event)"
/>
<div class="px-4">
  <mat-card *ngIf="bookInfo">
    <mat-card-content>
      <table>
        <tr>
          <td>
            <table>
              <tr>
                <td>
                  <div class="vstack">
                    <img [src]="bookInfo.imageUrl" />
                    <img
                      *ngIf="base64DownloadQRCode"
                      [src]="'data:image/png;base64,' + base64DownloadQRCode"
                    />
                    <button
                      class="pointer-cursor btn btn-primary"
                      (click)="download()"
                    >
                      Download
                    </button>
                  </div>
                </td>
              </tr>
              <tr *ngIf="bookInfo.averageRating">
                <td>
                  <app-rating [bookInfo]="bookInfo" />
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>Title</td>
                <td *ngIf="bookInfo.title">
                  <span class="cursor-pointer"
                    ><a (click)="searchByTitle()">
                      {{ bookInfo.title }}
                    </a>
                  </span>
                </td>
                <td *ngIf="!bookInfo.title">-</td>
              </tr>
              <tr>
                <td>Authors</td>
                <td *ngIf="bookInfo.authors">
                  <span class="cursor-pointer">
                    <a (click)="searchByAuthor()">{{ bookInfo.authors }}</a>
                  </span>
                </td>
                <td *ngIf="!bookInfo.authors">-</td>
              </tr>
              <tr>
                <td>ISBN 10:</td>
                <td *ngIf="bookInfo.isbn10">
                  <span class="cursor-pointer"
                    ><a (click)="searchByIsbn10()">{{
                      bookInfo.isbn10
                    }}</a></span
                  >
                </td>
                <td *ngIf="!bookInfo.isbn10">-</td>
              </tr>
              <tr>
                <td>ISBN 13:</td>
                <td *ngIf="bookInfo.isbn13">
                  <span class="cursor-pointer"
                    ><a (click)="searchByIsbn13()">{{
                      bookInfo.isbn13
                    }}</a></span
                  >
                </td>
                <td *ngIf="!bookInfo.isbn13">-</td>
              </tr>
              <tr>
                <td>Number of pages:</td>
                <td *ngIf="bookInfo.numberOfPages">
                  {{ bookInfo.numberOfPages }}
                </td>
                <td *ngIf="!bookInfo.numberOfPages">-</td>
              </tr>
              <tr>
                <td>Language:</td>
                <td *ngIf="bookInfo.language">{{ bookInfo.language }}</td>
                <td *ngIf="!bookInfo.language">-</td>
              </tr>
              <tr>
                <td>Note</td>
                <td *ngIf="bookInfo.note">{{ bookInfo.note }}</td>
                <td *ngIf="!bookInfo.note">-</td>
              </tr>
              <tr>
                <td>Publisher</td>
                <td>
                  <span *ngIf="bookInfo.publisher" class="cursor-pointer">
                    <a (click)="searchByPublisher()">{{
                      bookInfo.publisher
                    }}</a></span
                  >
                  <span *ngIf="bookInfo.publishedDate && bookInfo.publisher"
                    >,
                  </span>
                  <span *ngIf="bookInfo.publishedDate" class="cursor-pointer">
                    <a (click)="searchByPublishedDate()">
                      {{ bookInfo.publishedDate }}
                    </a>
                  </span>
                  <span *ngIf="!bookInfo.publishedDate && !bookInfo.publisher"
                    >-</span
                  >
                </td>
              </tr>
              <tr>
                <td>Categories</td>
                <td *ngIf="bookInfo.categoryList.length > 0">
                  <div
                    class="category m-1"
                    *ngFor="let category of bookInfo.categoryList"
                    (click)="goToCategory(category)"
                  >
                    {{ category.name }}
                  </div>
                </td>
                <td *ngIf="bookInfo.categoryList.length === 0">-</td>
              </tr>
              <tr>
                <td>Tags</td>
                <td *ngIf="bookInfo.tagList.length > 0">
                  <div
                    class="tag"
                    *ngFor="let tag of bookInfo.tagList"
                    (click)="goToTag(tag)"
                  >
                    {{ tag.name }}
                  </div>
                </td>
                <td *ngIf="bookInfo.tagList.length === 0">-</td>
              </tr>
              <tr>
                <td>Description</td>
                <td *ngIf="bookInfo.description">{{ bookInfo.description }}</td>
                <td *ngIf="!bookInfo.description">-</td>
              </tr>
              <tr *ngIf="fileSystemItem && fileSystemItem.size">
                <td>Size</td>
                <td *ngIf="fileSystemItem.size">
                  {{ fileSystemItem!.size | bytesToMegabytes }} Megabytes
                </td>
                <td *ngIf="!fileSystemItem.size">-</td>
              </tr>
              <tr *ngIf="fileSystemItem && fileSystemItem.extension">
                <td>Format</td>
                <td *ngIf="fileSystemItem.extension">
                  {{ fileSystemItem!.extension }}
                </td>
                <td *ngIf="!fileSystemItem.extension">-</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="p-3" *ngIf="isAdminAuthenticated()">
                  <button class="btn btn-warning" (click)="edit()">Edit</button>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
