<app-breadcrumb
  *ngIf="fileSystemItem"
  [fileSystemItem]="fileSystemItem"
  (navigate)="goToExplorer($event)"
/>
<div class="px-4">
  <mat-card *ngIf="bookInfo">
    <mat-card-content>
      <table>
        <tr>
          <td>
            <table>
              <tr>
                <td><img [src]="bookInfo.imageUrl" /></td>
              </tr>
              <tr *ngIf="bookInfo.averageRating">
                <td>
                  <app-rating [bookInfo]="bookInfo" />
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>Title</td>
                <td>{{ bookInfo.title }}</td>
              </tr>
              <tr>
                <td>Authors</td>
                <td>{{ bookInfo.authors }}</td>
              </tr>
              <tr>
                <td>ISBN 10:</td>
                <td>{{ bookInfo.isbn10 }}</td>
              </tr>
              <tr>
                <td>ISBN 13:</td>
                <td>{{ bookInfo.isbn13 }}</td>
              </tr>
              <tr>
                <td>Number of pages:</td>
                <td>{{ bookInfo.numberOfPages }}</td>
              </tr>
              <tr>
                <td>Language:</td>
                <td>{{ bookInfo.language }}</td>
              </tr>
              <tr>
                <td>Note</td>
                <td>{{ bookInfo.note }}</td>
              </tr>
              <tr>
                <td>Publisher</td>
                <td>
                  <span *ngIf="bookInfo.publisher"
                    >{{ bookInfo.publisher }},</span
                  >
                  <span *ngIf="bookInfo.publishedDate">
                    {{ bookInfo.publishedDate }}
                  </span>
                </td>
              </tr>
              <tr>
                <td>Categories</td>
                <td>
                  <div
                    class="category m-1"
                    *ngFor="let category of bookInfo.categoryList"
                    (click)="goToCategory(category)"
                  >
                    {{ category.name }}
                  </div>
                </td>
              </tr>
              <tr>
                <td>Tags</td>
                <td>
                  <div
                    class="tag"
                    *ngFor="let tag of bookInfo.tagList"
                    (click)="goToTag(tag)"
                  >
                    {{ tag.name }}
                  </div>
                </td>
              </tr>
              <tr>
                <td>Description</td>
                <td>{{ bookInfo.description }}</td>
              </tr>
              <tr *ngIf="fileSystemItem && fileSystemItem.size">
                <td>Size</td>
                <td>{{ fileSystemItem!.size | bytesToMegabytes }} Megabytes</td>
              </tr>
              <tr *ngIf="fileSystemItem && fileSystemItem.extension">
                <td>Format</td>
                <td>{{ fileSystemItem!.extension }}</td>
              </tr>
              <tr>
                <td></td>
                <td class="p-3">
                  <a class="pointer-cursor btn btn-primary" (click)="download()"
                    >Click here to Download the e-book</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
