<app-breadcrumb
  *ngIf="fileSystemItem"
  [fileSystemItem]="fileSystemItem"
  (navigate)="goToExplorer($event)"
/>
<div class="px-4">
  <mat-card *ngIf="bookInfo">
    <mat-card-content>
      <table>
        <tr>
          <td>
            <table>
              <tr>
                <td><img [src]="bookInfo.imageUrl" /></td>
              </tr>
              <tr *ngIf="bookInfo.averageRating">
                <td>
                  <app-rating [bookInfo]="bookInfo" />
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>Title</td>
                <td>{{ bookInfo.title }}</td>
              </tr>
              <tr>
                <td>Authors</td>
                <td>{{ bookInfo.authors }}</td>
              </tr>
              <tr>
                <td>ISBN 10:</td>
                <td>{{ bookInfo.isbn10 }}</td>
              </tr>
              <tr>
                <td>ISBN 13:</td>
                <td>{{ bookInfo.isbn13 }}</td>
              </tr>
              <tr>
                <td>Number of pages:</td>
                <td>{{ bookInfo.numberOfPages }}</td>
              </tr>
              <tr>
                <td>Language:</td>
                <td>{{ bookInfo.language }}</td>
              </tr>
              <tr>
                <td>Note</td>
                <td>{{ bookInfo.note }}</td>
              </tr>
              <tr>
                <td>Publisher</td>
                <td>{{ bookInfo.publisher }}, {{ bookInfo.publishedDate }}</td>
              </tr>
              <tr>
                <td>Categories</td>
                <td>
                  <div
                    class="category"
                    *ngFor="let category of bookInfo.categoryList"
                  >
                    {{ category.name }}
                  </div>
                </td>
              </tr>
              <tr>
                <td>Tags</td>
                <td>
                  <div class="tag" *ngFor="let tag of bookInfo.tagList">
                    {{ tag.name }}
                  </div>
                </td>
              </tr>
              <tr>
                <td>Description</td>
                <td>{{ bookInfo.description }}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<!-- 
<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            name="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <button
            type="button"
            class="btn btn-outline-secondary bi bi-calendar"
            (click)="dp.toggle()"
          ></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template> -->
