.container {
    max-width: 960px;
  }

  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #137dcf;
    transition: ease-in-out color .15s;
    text-decoration: none;
    font-weight: bold;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  footer {
    background-color: #e5e5e5;
  }
  
  /*
   * Extra utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.cursor-pointer {
 cursor: auto;   
}

.cursor-pointer:hover {
  cursor: pointer;
}

.link {
  color: royalblue;
  text-decoration: underline;
}


/*Material SnackBar*/
.cdk-overlay-container {
  z-index: 10001;
}
simple-snack-bar {
  color: #155724 !important;
  background-color: #292b2a !important;
  border-color: #101110 !important;
}
.success .mat-mdc-snack-bar-label {
  color: rgb(3, 175, 54)!important;
  font-weight: 800!important;
}

.success .mat-mdc-snack-bar-action span {
  color: rgb(166, 253, 131) !important;
  background-color: rgb(6, 67, 180);
}

.mdc-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
}

.error .mat-mdc-snack-bar-label {
  color: rgb(252, 165, 165)!important;
  font-weight: 800!important;
}

.error .mat-mdc-snack-bar-action span {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(6, 67, 180);
}

ul {
  list-style-type: none;
}



.modal-custom {
  background-color: rgba(0, 0, 0, .65);
  color: white;
}

input[disabled] {
  background-color: #e5e5e5;
}