<div class="container mt-2 mb-5">
  <div class="card">
    <div class="card-body">
      <div class="p-3" *ngIf="settings?.customDescriptionEnabled && post">
        <h1>{{ post.title }}</h1>
        <h4>{{ post.subtitle }}</h4>
        <p>{{ post.content }}</p>
      </div>
      <div
        *ngIf="settings?.customDescriptionEnabled && !post && isAdministrator()"
      >
        Please configure your home page content from the control panel
      </div>
      <div *ngIf="settings?.featuredBookWidgetEnabled">
        <hr />
        <app-featured-book />
      </div>
      <div *ngIf="settings?.featuredBooksWidgetEnabled">
        <hr />
        <app-featured-books />
      </div>

      <div *ngIf="settings?.newBooksWidgetEnabled">
        <hr />
        <app-latest-books />
      </div>

      <div *ngIf="settings?.popularBooksWidgetEnabled">
        <hr />
        <app-popular-downloads-container />
      </div>
    </div>
  </div>
</div>
